<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devbook - Home</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>

<body>
  {{ template "cabecalho" }}

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-xs-12 col-sm-12 col-md-5 col-xl-5">
        <h3>Nova publicação</h3>
        <fieldset>
          <form id="nova-publicacao">
            <div class="form-group">
              <label for="titulo">Título</label>
              <input type="text" class="form-control" id="titulo" required
                placeholder="Insira o título da sua publicação">
            </div>
            <div class="form-group">
              <label for="conteudo">Conteúdo</label>
              <textarea name="conteudo" id="conteudo" class="form-control" required></textarea>
            </div>

            <button class="btn btn-primary" type="submit">Publicar</button>
          </form>
        </fieldset>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7">
        {{ range .Publicacoes }}
          {{ if (eq .AutorID $.UsuarioID) }}
            {{ template "publicacao-com-permissao" . }}
          {{ else }}  
            {{ template "publicacao-sem-permissao" . }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

  {{ template "rodape" }}
  {{ template "scripts" }}
  <script src="/assets/js/publicacoes.js"></script>
</body>

</html>